[buildout]
parts = test

find-links =
    http://op:x9W3jZ@dist.quintagroup.com/op/
    http://dist.quintagroup.com/proxy/pypi/

[test]
recipe = zc.recipe.egg
eggs =
    openprocurement.auction
    pytest
    pytest-cov
